body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/054/859/original/lights.jpeg?1669002157");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
  max-width: 900px;
  display: block;
  margin: 10px auto;
  padding: auto;
}

form {
  text-align: right;
  padding: 30px 0 0 50px;
  border-radius: 25px;
}

h1 {
  padding-top: 10px;
  margin: 0 auto;
  font-family: arial, sans-serif;
  font-weight: 500;
  font-size: 50px;
  font-style: italic;
  margin-bottom: 15px;
}
h2,
p {
  font-family: "Inconsolata", monospace;
  padding-left: 0px;
  margin: 10px;
  text-align: left;
  font-size: 20px;
}

h2 {
  font-size: 30px;
}
h2::first-letter {
  text-transform: capitalize;
}

strong {
  font-size: 20px;
}

button {
  padding: 5px;
  background-color: black;
  border: 3px white solid;
  border-radius: 20px;
  color: white;
  position: fixed;
  top: 35px;
  right: 480px;
}
li {
  list-style: none;
  text-align: left;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

#description {
  font-size: 25px;
  font-family: "Inconsolata", monospace;
}
.weather-app {
  max-width: 1500px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.weather {
  font-family: "Inconsolata", monospace;
  position: absolute;
  top: 200px;
  right: -1100px;
  font-size: 20px;
  line-height: 15px;
}

.images {
  padding: 100px 0 0 10px;
}

.days {
  padding: 10px 0 0 10px;
  font-size: 20px;
}

.objects {
  padding: 10px 0 0 10px;
}

.rain-cloud {
  color: red;
}

.weather-temperature .units {
  position: relative;
  top: 15px;
  font-size: 18px;
  color: white;
}

.searchCity {
  position: relative;
  top: -200px;
  left: 40px;
  padding: 8px;
}

.SearchButton {
  padding: 5px 15px 5px 15px;
  background-color: black;
  border: 3px white solid;
  border-radius: 20px;
  color: white;
  position: fixed;
  top: 35px;
  right: 600px;
}

.githubLink {
  color: white;
  display: block;
  text-align: center;
  font-size: larger;
}

.githubLink:hover {
  cursor: pointer;
  color: blue;
}

.overview {
  margin-bottom: 30px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 80px;
  width: 80px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  margin-right: 5px;
}

#date {
  font-size: 25px;
  font-family: "Inconsolata", monospace;
  margin: 0px;
  text-align: left;
  margin-bottom: 15px;
}

#search-form {
  position: fixed;
  top: 5px;
  right: 700px;
}
